/* body {
  min-height: 2000px;
} */

.jumbotron {
  padding-top: 8rem;
  background-color: #f3f4f5;
}
#project {
  background-color: #f3f4f5;
}
section {
  padding-top: 7rem;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.navbar {
  background-color: #009be8;
  height: 80px;
  margin: 20px;
  border-radius: 15px;
  padding: 0.5rem;
}

.navbar-brand {
  font-weight: 500;
  color: #fff;
  font-size: 24px;
  transition: 0.3s color;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #000;
  font-weight: 500;
  position: relative;
}
.nav-link:hover,
.nav-link.active {
  color: #00ffe1;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #001999;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-img {
  position: relative;
  min-height: 100vh;
  background: #f3f4f5;
}

.container-img .image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}

.container-img .image-container .image {
  height: 220px;
  width: 350px;
  border: 10px solid #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}

.container-img .image-container .image img {
  height: 220px;
  width: 350px;
  object-fit: cover;
  transition: 0.2s linear;
}

.container-img .image-container .image:hover img {
  transform: scale(1.1);
}

.container-img .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.container-img .popup-image span {
  position: absolute;
  top: 90px;
  right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

.container-img .popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 750px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .container-img .popup-image img {
    width: 95%;
  }
}
