/* body {
  min-height: 2000px;
} */

.jumbotron {
  padding-top: 8rem;
  background-color: #f3f4f5;
}
#project {
  background-color: #f3f4f5;
}
section {
  padding-top: 7rem;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.navbar {
  background-color: #009be8;
  height: 80px;
  margin: 20px;
  border-radius: 15px;
  padding: 0.5rem;
}

.navbar-brand {
  font-weight: 500;
  color: #fff;
  font-size: 24px;
  transition: 0.3s color;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #000;
  font-weight: 500;
  position: relative;
}
.nav-link:hover,
.nav-link.active {
  color: #00ffe1;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #001999;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}

/* .split-para {
  display: block;
  margin: 10px;
}
.split-para span {
  display: block;
  float: right;
  width: 50%;
  margin-left: 10px;
} */

/* .hero-section {
  background: url(projects/photo4.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.hero-section::before {
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.hero-section .container {
  height: 100vh;
  z-index: 1;
  position: relative;
}

.hero-section h1 {
  font-size: 1.5em;
} */
